<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13A603</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>BetterDictionary</string>
	<key>CFBundleIconFile</key>
	<string>Dictionary.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.pooriaazimi.betterdictionary</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>BetterDictionary</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.99</string>
	<key>CFBundleSignature</key>
	<string>BDPA</string>
	<key>CFBundleVersion</key>
	<string>0.99</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>5A2053</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>13A595</string>
	<key>DTSDKName</key>
	<string>macosx10.9</string>
	<key>DTXcode</key>
	<string>0501</string>
	<key>DTXcodeBuild</key>
	<string>5A2053</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011-2013 Pooria Azimi. All rights reserved.</string>
	<key>SIMBLTargetApplications</key>
	<array>
		<dict>
			<key>BundleIdentifier</key>
			<string>com.apple.Dictionary</string>
			<key>MinBundleVersion</key>
			<string>80</string>
		</dict>
	</array>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
